body {
  color: $cor-secundaria;
}

a {
  text-decoration: none !important;
}

h1 {
  font-size: 26px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  margin: 10px 0;
}

//Bruce
.produtos-container img {
  width: 100%;
  border-radius: 7px;
}


.banners-promocionais-statico {

  .banners-promocionais-statico-12x,
  .banners-promocionais-statico-todo-br {
    margin: 10px 0;
    border-radius: 7px;
  }
}

//end Bruce